main {
    width: 70%;
    margin-left: 15%;
}

#upload {
    margin-left: 25%;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#uploadTextDiv {
    background-color: rgb(250, 169, 22);
    width: 70%;
}

#uploadText {
    display: inline-block;
    margin-left: 5%;

    color: rgb(251, 255, 255);
    font-family: Zen Kaku Gothic New;
    font-size: 48px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0%;

    margin-top: 0px;
    margin-bottom: 0px;
}

#fileInputLabel img {
    width: 8%;
    vertical-align: -10px;
    margin-right: 5px;
    margin-left: 40%;
  }

#fileInput {
    display: none;
}

#uploadZone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #888;
    background-color: #f9f9f9;
    width: 64.6%;
  }

#uploadZone p {
    color: rgb(109, 103, 110);
    font-family: Zen Kaku Gothic New;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0%;

    margin-top: 0px;
    margin-bottom: 0px;
}

#uploadZone:hover {
    border-color: #999;
}

#uploadZone.dragover {
    border-color: #33cc33;
}

#zone {
    display: block;
}

#converterPanel {
    display: none;
    margin-left: -80px;
}

#parametersName {
    display: flex;
    justify-content: row;
    margin-bottom: -20px;
}

#fn, #s, #for {
    width: 100px;
    margin-right: 100px;
    color: rgb(250, 169, 22);
    font-family: Zen Kaku Gothic New;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0%;
}

#nf {
    margin-right: 0px;
    width: 120px;
    color: rgb(250, 169, 22);
    font-family: Zen Kaku Gothic New;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0%;
}

#convertButton {
    margin-left: 30%;
    margin-top: 20px;
    margin-right: 0px;
    width: 120px;
    color: whitesmoke;
    background-color: rgb(250, 169, 22);
    border: none;
    font-family: Zen Kaku Gothic New;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0%;
}

#parametersFile {
    display: flex;
    justify-content: row;

    color: rgb(109, 103, 110);
    font-family: Zen Kaku Gothic New;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0%;
}

#fileName, #fileSize, #fileFormat, #formatSelect {
    margin-right: 100px;
    width: 100px;
}

#formatSelect{
    margin-right: 0px;
    border: none;

    color: rgb(109, 103, 110);
    font-family: Zen Kaku Gothic New;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0%;
}

#convertButton {
    display: inline-block;
}


#instruction {
    display: inline-block;
}

#howToUse {
    position: inline-block;
    width: 55%;
    float: left;
}

#howTitle {
    color: rgb(250, 169, 22);
    font-family: Zen Kaku Gothic New;
    font-size: 32px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: -1.5%;
    text-align: left;
}

.howMain {
    color: rgb(109, 103, 110);

    font-family: Zen Kaku Gothic New;
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -1.5%;
    text-align: left;
}

.howMain span {
    color: rgb(250, 169, 22);
    font-weight: 700;
    font-size: 21px;
}

#howPhoto {
    position: inline-block;
}

#howImg {
    display: inline-block;
    float: right;
    width: 45%;
    margin-top: 15%;
}